*{
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  font-family: Georgia, 'Times New Roman', Times, serif
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

}


header {
  display: flex;
  justify-content: space-between;
  background-color: #218380;
  padding: 3vh;
  background-color: #fff;
  align-self: flex-start;
}

time {
  min-width: 85px;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
}


.button {
  display: block;
  color: #ffffff;
  background-color: #0f46aa;
  padding: 2vh;
  border-radius: 8px;
  border: none;
}

.inline-buttons {
  display: inline-flex;
}


.card {
  max-width: 75%;
  margin-top: 15vh;
  border: solid;
  border-width: 4px;
  padding: 7vw;
  border-radius: 35px;
  border-color: lightgray;
}



#start-screen {
  display: inline;
  text-align: center;
}



.option-button {
  width: 100%;
  text-align: left;
  margin: 5px;
}

#result-div {
  display: none;
}


.inline-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#initials {
  width: 25%;
  margin: 8px;
  padding: 1vh;
}


#back-button {
  margin-right: 8px;
}

.highscore-list {
  padding-inline-start: 20px;
}


@media screen and (min-width: 850px) {
  .card {
    max-width: 680px;
  }
}


@media (hover) {

  a:hover {
    color: #758685;
  }

  button:hover {
    background-color: rgba(50, 111, 168, 0.5);
  }
}



  