*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Header*/

header {
  display: flex;
  text-align: right;
  font-size: large;
  background-color: #152688;
  color:#ffffff;
  padding: 0vh;
  background-color: rgb(0, 0, 0);
  align-self: flex-start; 
}

/*Body*/

body {
  background-color: #103a79;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 1500px;
  background-image: url(/assets/images/question-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 54% 35%;
  background-size: 726px 650px;  
}

.card {
  max-width: 75%;
  margin-top: 14vh;
  color: #ffffff;
  padding: 7vw;
  background-position: 33.3%;
  background-size: 620px 370px; 
  border-radius: 5px;
  border-color: lightgray;
}

/*Timer width*/
time {
  min-width: px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*button*/

.button {
  display: block;
  color: #ffffff;
  background-color: #0f46aa;
  padding: 2vh;
  border-radius: 8px;
  border: none;
}

.inline-buttons {
  display: inline-flex;
}

.option-button {
  width: 100%;
  text-align: left;
  margin: 5px;
}

/*Question and high score styles*/

#result-div {
  display: none;
}

.inline-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#initials {
  width: 25%;
  margin: 8px;
  padding: 1vh;
}

#back-button {
  margin-right: 8px;
}

.highscore-list {
  padding-inline-start: 20px;
}

/*Media Queries*/
@media screen and (min-width: 850px) {
  .card {
    max-width: 680px;
  }
}

@media (hover) {

  a:hover {
    color: #758685;
  }

  button:hover {
    background-color: rgba(89, 153, 212, 0.5);
  }
} 